html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    padding: none;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 32px;
}

/* header and nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 12px 125px;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    margin: 10px;
    color: white;
}

.logo:hover {
    color: black;
    background: rgb(255, 150, 0);
}

.icons {
    display: flex;
}

.icon {
    margin: 10px;
    color: rgb(53, 53, 53);
}

.icon:hover {
    color: rgb(255, 150, 0);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10px;
}

.nav-item {
    color: white;
    background: rgb(53, 53, 53);
    padding: 12px 20px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
}

.nav-item:hover {
    color: black;
    background: rgb(255, 150, 0);
}

/* profile */

.profile-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 48px 125px;
    background: rgb(230, 230, 230);
}

.profile-description {
    padding: 24px;
}

.profile-image {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
}

/* portfolio */

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 125px;
}

.portfolio-description {
    padding: 24px;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.project-info {
    margin: 15px;
}

.project-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.project-description {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.project-image {
    max-width: 650px;
    height: auto;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 15px 15px 5px lightgrey;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

.project-image:hover {
    top: -10px;
}

/* about */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 125px;
}

.about-info p {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

/* contact */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 125px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 10px;
}

.contact-item:hover>.contact-icon i {
    color: rgb(255, 150, 0);
}

.contact-item i {
    color: rgb(53, 53, 53);
}

.contact-icon {
    width: 48px;
    text-align: center;
}

.contact-description {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 10px;
}

/* footer */

.footer {
    color: white;
    background: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 25px;
}

/* tooltip */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: skyblue;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    margin-top: 10px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* breakout-game.html */

.game {
    display: flex;
    justify-content: center;
    margin: 48px;
}

canvas {
    background: #eee;
    display: block;
    max-width: 100%;
}

.game-info {
    text-align: center;
}

/* media queries */

@media (max-width: 1150px) {
    img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 1075px) {
    img {
        width: 300px;
        height: 300px;
    }
    .profile-summary {
        padding: 0 64px;
    }
}

@media (max-width: 900px) {
    .profile-summary {
        flex-direction: column;
        padding: 0 0 24px 0;
    }
    .project {
        flex-direction: column;
    }
    .portfolio {
        padding: 0 0 24px 0;
    }
    .contact {
        padding: 0 0 24px 0;
    }
}

@media (max-width: 875px) {
    header {
        flex-direction: column;
    }
}

@media (max-width: 415px) {
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 24px;
    }
    .contact-item {
        margin: 2px;
    }
    .contact-icon {
        width: 24px;
        font-size: 8px;
    }
    .contact-description {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .nav-item {
        margin: 2px;
        font-size: 14px;
        padding: 10px 15px;
    }
}

@media (max-width: 350px) {
    img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 325px) {
    h1 {
        font-size: 32px;
    }
}

@media (max-width: 300px) {
    h1 {
        font-size: 30px;
    }
}

@media (max-width: 270px) {
    .nav {
        flex-direction: column;
    }
}

/* breakout-game.html */

@media (max-width: 500px) {
    /* canvas {
        width: 99%;
    } */
}