@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

:root {
  --bard-color-brand-text-gradient-stop-1: #4285f4;
  --bard-color-brand-text-gradient-stop-2: #9b72cb;
  --bard-color-brand-text-gradient-stop-3: #d96570;
  --gem-sys-color--surface: #fff;
}

@layer utilities {
  .underline-svg,
  .underline-svg-dark {
    content: "";
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 1.25rem;
    background-size: cover;
  }

  .underline-svg {
    background-image: url("./assets/underline.svg");
  }

  .underline-svg-dark {
    background-image: url("./assets/underline-dark.svg");
  }
}

.page-container {
  @apply mx-auto max-w-2xl px-4 pt-8 pb-16 sm:px-6 sm:pb-24 lg:max-w-7xl lg:px-8;
}

.primary-text-color {
  @apply text-slate-700 dark:text-slate-400;
}

.bard-hello {
  position: relative;
  display: inline-block;
  color: transparent;
  background: linear-gradient(
    74deg,
    var(--bard-color-brand-text-gradient-stop-1) 0,
    var(--bard-color-brand-text-gradient-stop-2) 9%,
    var(--bard-color-brand-text-gradient-stop-3) 20%,
    var(--bard-color-brand-text-gradient-stop-3) 24%,
    var(--bard-color-brand-text-gradient-stop-2) 35%,
    var(--bard-color-brand-text-gradient-stop-1) 44%,
    var(--bard-color-brand-text-gradient-stop-2) 50%,
    var(--bard-color-brand-text-gradient-stop-3) 56%,
    var(--gem-sys-color--surface) 75%,
    var(--gem-sys-color--surface) 100%
  );
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
