@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@layer utilities {
  .underline-svg,
  .underline-svg-dark {
    content: "";
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 1.25rem;
    background-size: cover;
  }

  .underline-svg {
    background-image: url("./assets/underline.svg");
  }

  .underline-svg-dark {
    background-image: url("./assets/underline-dark.svg");
  }
}

.page-container {
  @apply mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8;
}
